.header {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom-style: solid;
  border-width: 1px;
}
.logo {
  display: grid;
  grid-template-columns: 60px 1px 165px;
  margin: 10px 0px 0px 200px;
}
.logo img {
  width: 3.5rem;
  height: 3.5rem;
}
.logo p {
  font-size: 1.5rem;
  margin-top: 0.8rem;
  margin-left: 35px;
}
.border {
  border-left-style: solid;
  border-width: 2px;
  margin: 10px 0px 0px 15px;
  height: 35px;
}
.nav-icon {
  margin: 20px 0px 0px 700px;
}
.nav-icon img {
  width: 2rem;
  height: 2rem;
  margin-right: 15px;
}
